%h1= "Route ##{@short_name} on #{@date.strftime '%A, %B'} #{@date.day.ordinalize}"

- @schedules.each_pair do |headsign,schedule|
  %h2= headsign
  %table{ class: :schedule }
    %thead
      %tr
        - schedule.stop_numbers.each do |stop_number|
          %th{ class: cycle(nil, :guide) }= stop_number

    %tbody
      - schedule.each do |row|
        %tr
          - reset_cycle
          - row.each do |arrival_time|
            %td{ class: cycle(nil, :guide) }= arrival_time or '-'

    %tfoot
      %tr
        %td{ colspan: schedule.stop_numbers.size }= "Generated #{Time.zone.now}"
