- @tables.each_pair do |headsign,table|
  %h2= headsign
  %table{ class: :calendar }
    %thead
      %tr
        - table.stop_numbers.each do |stop_number|
          %th{ class: cycle(nil, :guide) }= stop_number

    %tbody
      - table.each do |row|
        %tr
          - reset_cycle
          - row.each do |arrival_time|
            %td{ class: cycle(nil, :guide) }= arrival_time or '-'

    %tfoot
      %tr
        %td{ colspan: table.stop_numbers.size }= "Generated #{Time.zone.now}"
